
/* Tables
----------------------------------------------- */

/* hack - remove this rule after using Foundation 6.x */
table {
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 4px;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #F1F1F1;
}

thead,
tfoot {
	color: $matterhorn;
}

.table-plain tbody tr {
	background-color: #FFF;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid $white-smoke;
}

.table-plain tbody tr:last-child {
	border-bottom: 1px solid #FFF;
}

.table-plain tbody tr:hover {
	background-color: $concrete;
	border-top: 1px solid $white-smoke;
	border-bottom: 1px solid $white-smoke;
}

.table-plain tbody {
	border: 0;
	background-color: #FFF;
}


/* Bootstrap Table
----------------------------------------------- */

.table-bootstrap th,
.table-bootstrap td {
	border-top: 1px solid #ECEEEF;
}

.table-bootstrap thead,
.table-bootstrap tbody,
.table-bootstrap tfoot {
	border: 0;
}

.table-bootstrap thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #ECEEEF;
	background-color: #FFF;
}

.table-bootstrap tbody + tbody {
	border-top: 2px solid #ECEEEF;
}

.table-bootstrap .table-bootstrap {
	background-color: #FFF;
}
