
/* Set Global Variables
----------------------------------------------- */

/* images path for embedded css images */
$hrb-image-path: '../../images';

/* font icon path inside _foundation-icons.scss */
$fi-path: '../fonts/foundation-icon-fonts';

/* colors */
$concrete: #FDFDFD;
$dark-gray: #AFAFAF;
$gray-smoke: #F0F0F0;
$matterhorn: #565656;
$medium-gray: #CACACA;
$suva-grey: #8A8A8A;
$white: #FEFEFE;
$white-smoke: #F5F5F5;
